{% extends "base.html" %}

{% block title %}Studens{% endblock %}

     {% block content %}<!--start block-->
     <!--start content-->
      <div class="container main_container">
        <div class="jumbotron">
          {% include "include/message_include.html" %}
          <div class="row">
              <h3>Студенты курса PyBursa</h3>
              <p>Выпуск декабрь 2015</p><br>
              <a href="{% url 'students:add' %}"><button class="btn btn-primary">+ Добавить нового студента</button></a>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr class="danger">
                    <th>#</th>
                    <th>фамилия имя</th>
                    <th>адрес</th>
                    <th>Skype</th>
                    <th colspan="3">курсы</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for list_student in object_list %}
                    <tr>
                        <td>{{ list_student.id }}</td> 
                        <td><a href="{% url 'students:detail' list_student.id %}">{{ list_student.surname }} {{ list_student.name }}</a></td> 
                        <td>{{ list_student.address }}</td> 
                        <td>{{ list_student.skype }}</td> 
                        <td>{% for course in list_student.courses.all %}
                              <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br>
                            {% endfor %}</td> 
                        <td>
                             <a href="{% url 'students:edit' list_student.id %}"><button class="btn btn-primary">Изменить</button></a>
                        </td> 
                        <td>
                             <a href="{% url 'students:remove' list_student.id %}"><button class="btn btn-primary">Удалить</button></a>
                        </td> 
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <!--end content-->
    <!--endblock-->{% endblock content %}

