{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}My amazing site{% endblock %}</title>

    <!-- Bootstrap -->
    <!-- {% load staticfiles %} -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- My css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="icon" href="{% static 'images/py.png' %} ">

  </head>
  <body>
    <!-- start nav menu-->
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="course_logo">
            <a class="brand" href="{% url 'index' %}"><img alt="PyBursa" src="{% static 'images/image_original.jpg' %}"></a>
          </div>
          <div class="nav-collapse subnav-collapse">
            <ul class="nav navbar-nav">
              <li {% block act_home %}{% endblock %}><a href="{% url 'index' %}">Главная</a></li>
              <li {% block act_contact %}{% endblock %}><a href="{% url 'contact' %}">Контакты</a></li>
              {% block nav_students %}
              <li {% block act_student %}{% endblock %}><a href="{% url 'students:list_view' %}">Студенты</a></li>
              {% endblock nav_students %}
              <li {% block act_feedback %}{% endblock %}><a href="{% url 'feedback' %}">Обратная связь</a></li>
            </ul>
          </div> 
        </div> 
      </nav>
      <!-- end nav menu-->
      <!--start content-->
    {% block content %}
       <p>Some content</p>
    {% endblock content %}
    </div>
    <!--end content-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
