<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PyBursa Contacts</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- start nav menu-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Main -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Main</a>
        </div>
        <!-- Contacts -->
        <div class="navbar-header">
          <a class="navbar-brand" href="contact.html">Contacts</a>
        </div>
       </div><!-- /.container-fluid -->
    </nav>
    <!-- end nav menu-->
    <!--start content-->
    <div class="container main_container" style="min-height: 420px;">
      <div class="row">
        <div class="col-lg-12">
          <h3>Организаторы ItBursa:</h3>
          <h3><small><b>Director ItBursa</b></small></h3>
          Name: <b>Дария Михалевич</b><br> 
          Skype: darka.darka.darka.darka<br> 
          Email: <a href="mailto:daria.mykhalevych@gmail.com">daria.mykhalevych@gmail.com</a><br> 
          Phone: +38 096 469 15 57<br>
           <br>
          <h3><small><b>Manager ItBursa</b></small></h3>
          Name: <b>Татьяна Орехова</b><br> 
          Skype: Tatyana_Oriekhova<br> 
          Email: <a href="mailto:to096540848@gmail.com">to096540848@gmail.com</a><br> 
          Phone: +38 099 186 64 75<br>
          <br>
          <h3><small><b>Founder ItBursa</b></small></h3>
          Name: <b>Павел Обод</b><br> 
          Skype: azaless<br> 
          Email: <a href="mailto:itbursa100@gmail.com">itbursa100@gmail.com</a><br> 
          Phone: +38 096 469 15 57<br>
        </div>
      </div>
    </div>
    <!--end content-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
