{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block act_contact %}class="active"{% endblock %}
    
     {% block content %}<!--start block-->
      <!--start content-->
      <div class="jumbotron">
        <div  id='organizers' class="container main_container">
          <div class="row">
              <h3 class="lead">Организаторы ItBursa:</h3><br>
              <h4>Director</h4>
              <ul class="list-unstyled">
                <li class="text-danger">Name: Дария Михалевич</li>
                <li class="text-warning">Skype: darka.darka.darka.darka</li>
                <li class="text-info">Email: daria.mykhalevych@gmail.com</li>
                <li class="text-success">Phone: +38 096 469 15 57</li>
              </ul>
              <br>
              <h4>Manager</h4>
              <ul class="list-unstyled">
                <li class="text-danger">Name: Татьяна Орехова</li>
                <li class="text-warning">Skype: Tatyana_Oriekhova</li>
                <li class="text-info">Email: 096540848@gmail.com</li>
                <li>Phone: +38 099 186 64 75</li>
              </ul>
              <br>
              <h4>Founder</h4>
              <ul class="list-unstyled">
                <li class="text-danger">Name: Павел Обод</li>
                <li class="text-warning">Skype: azaless</li>
                <li class="text-info">Email: itbursa100@gmail.com</li>
                <li class="text-success">Phone: +38 096 469 15 57</li>
              </ul>
          </div>
        </div>
      </div>
    <!--end content-->
    <!--endblock-->{% endblock content %}
