{% extends "base.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block act_feedback %}class="active"{% endblock %}

     {% block content %}<!--start block-->
     <!--start content-->
      <div class="jumbotron">
        <div class="container main_container">
          {% include "include/message_include.html" %}
          <h2>{{title}}</h2>
          <hr>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Отправить">
          </form>
          </div>
        </div>
      </div>
    </div>
    <!--end content-->
    <!--endblock-->{% endblock content %}
