{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block act_home %}class="active"{% endblock %}


     {% block content %}<!--start block-->
      <!--start content-->
      <div class="jumbotron">
        <div class="container main_container">
          <div class="row">
            <h2>ItBursa</h2>
            <p class="text-left" >
              Мы специализируемся на "модных" языках программирования. 
              Принципиальное наше отличие от других курсов - 
              максимум пратики и жесткая система обязательных домашних заданий.
            </p>
        </div>
        </div>
      </div>
    {% include "include/message_include.html" %}
		<a href="{% url 'courses:add' %}"><button class="btn btn-primary">+ Добавить курс</button></a>
		<hr>
      <h3> Выбирай на каком курсе хочешь учиться!</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="col_first">Курс</th>
            <th class="col_second" colspan=3>Описание</th>
          </tr>
        </thead>
        <tbody>
          {% for c in courses %}
            <tr>
              <td><a href="{% url 'courses:detail' c.id %}">{{ c.name|upper }}</a></td>
              <td>{{ c.short_description|title }}</td>
              <td>
                   <a href="{% url 'courses:edit' c.id %}" button class="btn btn-primary">Изменить</button></a>
              </td> 
              <td>
                   <a href="{% url 'courses:remove' c.id %}" button class="btn btn-primary">Удалить</button></a>
              </td> 
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <!--end content-->
    <!--endblock-->{% endblock content %}
