<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PyBursa Main</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- start nav menu-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Main -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Main</a>
        </div>
        <!-- Contacts -->
        <div class="navbar-header">
          <a class="navbar-brand" href="contact.html">Contacts</a>
        </div>
       </div><!-- /.container-fluid -->
    </nav>
    <!-- end nav menu-->
    <!--start content-->
    <div class="container">
    <h2> Description</h2>
    <h1><small>Описание курса PyBursa</small> </h1>
    <p>
      Курс PyBursa дает базовые знания по языку python. 
      Синтаксис, подходы, философия, инструменты и экосистема. 
      Покрывает основной синтаксис и инструкции языка, некоторые встроенные модули, основы ОПП.
    </p>
    <h2> Program</h2>
    <h1><small>Программа курса PyBursa</small> </h1>
    <article >
      <h3><i>Первая неделя. Основы html/css. GIT</i></i></h3>
      <p>html - теги и свойства</p>
      <p>css - свойства и селекторы</p>
      <p>Bootstrap</p>
      <p>GIT basic reference</p>
    </article>

    <article >
      <h3><i>Вторая неделя. Django first steps</i></h3>
      <p>введение и описание фреймворка, старт проекта</p>
      <p>инструменты отладки браузера</p>
      <p>HTTP (GET, POST), (200, 404, 500), headers, cookies</p>
      <p>админка</p>
    </article>
    
    <article >
      <h3><i>Третья неделя. Структура Web приложения. Работа с базами данных, ORM</i></h3>
      <p>MVC</p>
      <p>Views</p>
      <p>роутинг урлов, передача параметров</p>
      <p>обработка реквеста, формирование респонса</p>
      <p>мидлвар</p>
      <p>модели и поля, типы полей и аттрибуты</p>
      <p>связи между таблицами и проектирование БД</p>
      <p>миграции</p>
      <p>QuerySet</p>
    </article>
    
    <article >
      <h3><i>Четвертая неделя. Кастомизация админки. Язык шаблонов</i></h3>
      <p>настройка отображения виджетов админки</p>
      <p>сортировка, фильтры, поиск</p>
      <p>синтаксис шаблонов, логические конструкции</p>
      <p>наследование и includes шаблонов</p>
      <p>теги и фильтры</p>
    </article>
    
    <article >
      <h3><i>Пятая неделя. Forms. Class-based (Generic) Views.</i></h3>
      <p>формы, типы полей, виджеты и аттрибуты, валидация</p>
      <p>встроеные class-based views (TemplateView, ListView, ItemView)</p>
      <p>синтаксис шаблонов, логические конструкции</p>
      <p>миксины</p>
    </article>
    
    <article >
      <h3><i>Шестая неделя. Реализация стандартных задач. Средства отладки и тестирование. Деплоймент.</i></h3>
      <p>отправка емейл, кеширование, интернационализация, батарейки (готовые решения)</p>
      <p>logging, pdb, debug toolbar, extensions, unit-tests, selenium</p>
      <p>nginx, управление статикой, деплоймент</p>
    </article>
    </div>
    <!--end content-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>