{% extends "base_template.html" %}

{% block title %}Home{% endblock %}

     {% block content %}<!--start block-->
      <!--start content-->
      <div class="jumbotron">
        <div class="container main_container">
          <div class="row">
            <h2>ItBursa</h2>
            <p class="text-left" >
              Мы специализируемся на "модных" языках программирования. 
              Принципиальное наше отличие от других курсов - 
              максимум пратики и жесткая система обязательных домашних заданий.
            </p>
        </div>
        </div>
      </div>
      <h3> Выбирай на каком курсе хочешь учиться!</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="col_first">Курс</th>
            <th class="col_second">Описание</th>
          </tr>
        </thead>
        <tbody>
          {% for c in courses %}
            <tr>
              <td><a href="{% url 'courses:detail' c.id %}">{{ c.name|upper }}</a></td>
              <td>{{ c.short_description|title }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <!--end content-->
    <!--endblock-->{% endblock content %}
