<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Student's list</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- My css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" href="../static/images/py.png">

  </head>
  <body>
    <div class="container">
    <!-- start nav menu-->
      <nav class="navbar navbar-inverse">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="index.html">Main</a></li>
            <li><a class="navbar-brand" href="contact.html">Contacts</a></li>
            <li class="active"><a class="navbar-brand" href="student_list.html">Students</a></li>
          </ul>
        </div> 
      </nav>
      <!-- end nav menu-->
      <!--start content-->
      <div class="jumbotron">
        <div class="container main_container">
          <div class="row">
              <h3 class="lead">PyBursa</h3><br>
              <h3 class="lead">Студенты курса PyBursa</h3><br>
              <table class="table table-hover">
                <thead>
                  <tr class="danger">
                    <th>№</th>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Skype</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="warning">
                    <th scope="row"><a href="student_detail.html">1</a></th>
                    <td>Бабичук</td>
                    <td>Александр</td>
                    <td>Харьков</td>
                    <td>banzaj.te.ua</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>2</th>
                    <td>Баренштейн</td>
                    <td>Илона</td>
                    <td>Харьков</td>
                    <td>ilona.barenshtein</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>3</th>
                    <td>Белозеров</td>
                    <td>Максим</td>
                    <td>Харьков</td>
                    <td>facebook:mb_16</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>4</th>
                    <td>Белоконь</td>
                    <td>Евгений</td>
                    <td>Харьков</td>
                    <td>eugene_b79</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>5</th>
                    <td>Бельтек</td>
                    <td>Игорь</td>
                    <td>Харьков</td>
                    <td>dolphin8799</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>6</th>
                    <td>Бобровицкий</td>
                    <td>Владимир</td>
                    <td>Харьков</td>
                    <td>donetsk22041984</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>7</th>
                    <td>Бондаренко</td>
                    <td>Андрей</td>
                    <td>Харьков</td>
                    <td>andrey.bondarenko.toatech</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>8</th>
                    <td>Бондарь</td>
                    <td>Виктор</td>
                    <td>Харьков</td>
                    <td>viktorbo108</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>9</th>
                    <td>Бралгин</td>
                    <td>Сергей</td>
                    <td>Харьков</td>
                    <td>serhii.bralhin.toatech</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>10</th>
                    <td>Бредихин</td>
                    <td>Павел</td>
                    <td>Харьков</td>
                    <td>ng_1990</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>11</th>
                    <td>Бутенко</td>
                    <td>Алексей</td>
                    <td>Харьков</td>
                    <td>apbutenko</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>12</th>
                    <td>Внуков</td>
                    <td>Игорь</td>
                    <td>Харьков</td>
                    <td>dleshui</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>13</th>
                    <td>Гагаро</td>
                    <td>Денис</td>
                    <td>Харьков</td>
                    <td>wer1171</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>14</th>
                    <td>Герман</td>
                    <td>Эдуард</td>
                    <td>Харьков</td>
                    <td>arhermon</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>15</th>
                    <td>Головачев</td>
                    <td>Виталий</td>
                    <td>Харьков</td>
                    <td>vitaliigolovachov</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>16</th>
                    <td>Губаренко</td>
                    <td>Владимир</td>
                    <td>Харьков</td>
                    <td>vladimir.gubarenko</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>17</th>
                    <td>Емец</td>
                    <td>Ольга</td>
                    <td>Харьков</td>
                    <td>tifani6335</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>18</th>
                    <td>Жиров</td>
                    <td>Владислав</td>
                    <td>Харьков</td>
                    <td>zhirov-vladislav</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>19</th>
                    <td>Зацеркляный</td>
                    <td>Георгий</td>
                    <td>Харьков</td>
                    <td>jorge9216</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>20</th>
                    <td>Зинченко</td>
                    <td>Вадим</td>
                    <td>Харьков</td>
                    <td>voknehcniz</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>21</th>
                    <td>Ивахненко</td>
                    <td>Александр</td>
                    <td>Харьков</td>
                    <td>malisia201980</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>22</th>
                    <td>Илюшенко</td>
                    <td>Владимир</td>
                    <td>Харьков</td>
                    <td>liveforlifeliveforlove</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>23</th>
                    <td>Каплин</td>
                    <td>Борис</td>
                    <td>Харьков</td>
                    <td>boyderman1</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>24</th>
                    <td>Коваленко</td>
                    <td>Екатерина</td>
                    <td>Харьков</td>
                    <td>kovekser</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>25</th>
                    <td>Коломиец</td>
                    <td>Ксения</td>
                    <td>Харьков</td>
                    <td>kseniakolomiets</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>26</th>
                    <td>Корбаницкий</td>
                    <td>Дмитрий</td>
                    <td>Харьков</td>
                    <td>elcarnado</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>27</th>
                    <td>Крикливец</td>
                    <td>Олег</td>
                    <td>Харьков</td>
                    <td>oleg.k729</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>28</th>
                    <td>Кучеренко</td>
                    <td>Олександр</td>
                    <td>Харьков</td>
                    <td>alex_stranger_kom</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>29</th>
                    <td>Лагункова</td>
                    <td>Елена</td>
                    <td>Харьков</td>
                    <td>lenlagun</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>30</th>
                    <td>Лесик</td>
                    <td>Марк</td>
                    <td>Харьков</td>
                    <td>count.barkov</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>31</th>
                    <td>Лымарь</td>
                    <td>Юлия</td>
                    <td>Харьков</td>
                    <td>Lulenka90</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>32</th>
                    <td>Маклюк</td>
                    <td>Роман</td>
                    <td>Харьков</td>
                    <td>too_lazy_to_fuck</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>33</th>
                    <td>Мирошниченко</td>
                    <td>Светлана</td>
                    <td>Харьков</td>
                    <td>mivikt</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>34</th>
                    <td>Михайлов</td>
                    <td>Станислав</td>
                    <td>Харьков</td>
                    <td>stas_mykhailov</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>35</th>
                    <td>Мороз</td>
                    <td>Константин</td>
                    <td>Харьков</td>
                    <td>kostyaf1777</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>36</th>
                    <td>Назаренко</td>
                    <td>Владимир</td>
                    <td>Харьков</td>
                    <td>vladimirnazarenkort</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>37</th>
                    <td>Неймырок</td>
                    <td>Евгений</td>
                    <td>Харьков</td>
                    <td>saymon.j.</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>38</th>
                    <td>Остренко</td>
                    <td>Владислав</td>
                    <td>Харьков</td>
                    <td>ostrenko</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>39</th>
                    <td>Падафа</td>
                    <td>Евгений</td>
                    <td>Харьков</td>
                    <td>makaron19941</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>40</th>
                    <td>Петрушенко</td>
                    <td>Дмитрий</td>
                    <td>Харьков</td>
                    <td>anikenraven</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>41</th>
                    <td>Погорелов</td>
                    <td>Сергей</td>
                    <td>Харьков</td>
                    <td>pogorelovsergey1989</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>42</th>
                    <td>Подлипенский</td>
                    <td>Сергей</td>
                    <td>Харьков</td>
                    <td>sergey.podlipenskiy.toatech</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>43</th>
                    <td>Поляков</td>
                    <td>Константин</td>
                    <td>Харьков</td>
                    <td>polyakovkonstantinks</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>44</th>
                    <td>Прокопчук</td>
                    <td>Дмитрий</td>
                    <td>Харьков</td>
                    <td>andmitroid</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>45</th>
                    <td>Пузина</td>
                    <td>Екатерина</td>
                    <td>Харьков</td>
                    <td>ekaterina.puzina</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>46</th>
                    <td>Римаренко</td>
                    <td>Андрей</td>
                    <td>Харьков</td>
                    <td>menos__grande</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>47</th>
                    <td>Роганин</td>
                    <td>Сергей</td>
                    <td>Харьков</td>
                    <td>sergio_rini</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>48</th>
                    <td>Русанов</td>
                    <td>Дмитрий</td>
                    <td>Харьков</td>
                    <td>rus-nik2007</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>49</th>
                    <td>Рустинов</td>
                    <td>Владимир</td>
                    <td>Харьков</td>
                    <td>vladimir.rustinov</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>50</th>
                    <td>Седоволосый</td>
                    <td>Сергей</td>
                    <td>Харьков</td>
                    <td>sedovolosiy</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>51</th>
                    <td>Силин</td>
                    <td>Николай</td>
                    <td>Харьков</td>
                    <td>kolanimir</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>52</th>
                    <td>Сильванович</td>
                    <td>Валерий</td>
                    <td>Харьков</td>
                    <td>vsilver1</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>53</th>
                    <td>Синенький</td>
                    <td>Максим</td>
                    <td>Харьков</td>
                    <td>msinenkiy</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>54</th>
                    <td>Сопронюк</td>
                    <td>Иван</td>
                    <td>Харьков</td>
                    <td>sopronyuk_ivan</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>55</th>
                    <td>Стелвио</td>
                    <td>Нето</td>
                    <td>Харьков</td>
                    <td>stalvio90210</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>56</th>
                    <td>Стецяк</td>
                    <td>Орест</td>
                    <td>Харьков</td>
                    <td>axe__opa</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>57</th>
                    <td>Тарасенко</td>
                    <td>Иван</td>
                    <td>Харьков</td>
                    <td>ivan.tarasenko.toatech</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>58</th>
                    <td>Терентьев</td>
                    <td>Денис</td>
                    <td>Харьков</td>
                    <td>i_h.a.t.e</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>59</th>
                    <td>Тимонов</td>
                    <td>Алексей</td>
                    <td>Харьков</td>
                    <td>alex_timonov</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>60</th>
                    <td>Тимошенко</td>
                    <td>Олег</td>
                    <td>Харьков</td>
                    <td>timoshenko_oleg</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>61</th>
                    <td>Ушков</td>
                    <td>Кирилл</td>
                    <td>Харьков</td>
                    <td>passmoore_2010</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>62</th>
                    <td>Фурса</td>
                    <td>Светлана</td>
                    <td>Харьков</td>
                    <td>svetl9ch0k</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>63</th>
                    <td>Шаповал</td>
                    <td>Денис</td>
                    <td>Харьков</td>
                    <td>zhuki.apprentice</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>64</th>
                    <td>Шуцкая</td>
                    <td>Елена</td>
                    <td>Харьков</td>
                    <td>elena.shchutskaya</td>
                  </tr>
                  <tr class="warning">
                    <th scope='row'>65</th>
                    <td>Яновский</td>
                    <td>Александр</td>
                    <td>Харьков</td>
                    <td>alex.yanovskii</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <!--end content-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="../static/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
