{% extends "base.html" %}
{% load static %}
{% block title %}Add Course{% endblock %}

     {% block content %}<!--start block-->
     <!--start content-->
      <div class="jumbotron">
        <div class="container main_container">
          <h2>Создание нового занятия</h2>
          <hr>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Добавить">
          </form>
          </div>
        </div>
      </div>
    </div>
    <!--end content-->
    <!--endblock-->{% endblock content %}
