{% extends "base.html" %}

{% block title %}Course{% endblock %}

              {% block nav_students %}
              <li><a href="{% url 'students:list_view' %}?course_id={{course_id}}">Студенты</a></li>
              {% endblock nav_students %}
 

     {% block content %}<!--start block-->
      <!--start content-->
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <br>
        {% if messages %} 
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="jumbotron">
        <div class="container main_container">
          <div class="row">
            <h2>{{ courses.name }}</h2>
            <p class="text-left" >
              {{courses.description|truncatechars:32 }}
            </p>
          </div>
        </div>
      </div>
      <h3> Преподаватели</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><h5><b>Учитель</b></h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                <h5><a href="{% url 'coaches:detail' courses.coach.id %}"><b>{{ coach }}</b></a></h5>
                <p>{{ courses.coach.description }}</p>
              </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><h5><b>Ассистент</b></h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                <h5><a href="{% url 'coaches:detail' courses.assistant.id %}"><b>{{ assistent }}</b></a></h5>
                <p>{{ courses.assistant.description }}</p>
              </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <a href="{% url 'courses:add_lesson' courses.id %}"><button class="btn btn-primary">+ Добавить занятие</button></a>
      <hr>
      <h3> План курса</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Тема</th>
            <th>Описание</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessons %}
          <tr>
              <td>{{ lesson.order }}</td>
              <td>{{ lesson.subject }}</td>
              <td>{{ lesson.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ courses.test }}
    </div>
    <!--end content-->
    <!--endblock-->{% endblock content %}
