{% extends "base.html" %}
{% load static %}

{% block title %}Coach{% endblock title %}

     {% block content %}<!--start block-->
      <!--start content-->
      <div class="jumbotron">
        <div class="container main_container">
          <div class="row">
            <h2>{{ coaches.user.first_name }} {{ coaches.user.last_name }}</h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
          <tbody>
              <tr>
                  <td>Дата рождения</td>
                  <td>{{ coaches.date_of_birth|date:"d E Y" }}</td>
              </tr>
              <tr>
                  <td>адрес</td>
                  <td>{{ coaches.address }}</td>
              </tr>
              <tr>
                  <td>почта</td>
                  <td>{{ coaches.user.email }}</td>
              </tr>
              <tr>
                  <td>логин skype</td>
                  <td>{{ coaches.skype }}</td>
              </tr>
              <tr>
                  <td>телефон</td>
                  <td>{{ coaches.phone }}</td>
              </tr>
              <tr>
                  <td>курсы учитель</td>
                  <td> {% for course in courses %}
                  <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a> Course students
                  <a href="{% url 'students:list_view' %}?course_id={{ course.id }}">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"></span></a><br>
              {% endfor %}</td>
              </tr>
              <tr>
                  <td>курсы ассистент</td>
                  <td>{% for assistant in assistants %}
                  <a href="{% url 'courses:detail' assistant.id %}">{{ assistant.name }}</a> Course students 
                  <a href="{% url 'students:list_view' %}?course_id={{ assistant.id }}">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"></span></a><br>
              {% endfor %}</td>
              </tr>
              
          </tbody>
      </table>
    </div>
    <!--end content-->
    <!--endblock-->{% endblock content %}
